<% @title = "ride list" %>
<div class="row">
  <div class="col s12">
    <h3>Rides</h3>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4>Open Rides (<%= @open_rides.length %>)</h2>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="date">Date</th>
          <th data-field="time">Time</th>
          <th data-field="member">Member</th>
          <th data-field="location">Pickup Location
          </th>
          <th data-field="destination">Destination
          </th>
          <th data-field="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @sorted_open_rides.each do |ride| %>
        <tr>
          <td>
            <a href="/admin/rides/<%=ride.id%>"><%= Date.parse(ride.pickup_date).strftime('%a %b %d, %Y') %></a>
          </td>
          <td>
            <%= Time.parse(ride.pickup_time.to_s).strftime("%l:%M %p") %>
          </td>
          <td>
            <%= link_to ride.member.full_name, member_path(ride.member) %>
          </td>
          <td>
            <%= ride.origin.address_line1 %><br>
            <%= ride.origin.city %>,
            <%= ride.origin.state %>,
            <%= ride.origin.zip %>
          </td>
          <td>
            <%= ride.destination.name %>
            <br>
            <%= ride.destination.address_line1 %><br>
            <%= ride.destination.city %>,
            <%= ride.destination.state %>,
            <%= ride.destination.zip %>
          </td>
          <td>
            <%= link_to "Assign", admin_ride_path(ride), class: "btn" %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4>Today's and Previous Rides (<%=@rides_today_or_earlier.length%>)</h2>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="date">Date</th>
          <th data-field="time">Time</th>
          <th data-field="member">Member</th>
          <th data-field="driver">Driver</th>
          <th data-field="location">Pickup Location
          </th>
          <th data-field="destination">Destination
          </th>
          <th data-field="emergency-contact">
            Emergency Contact
          </th>
          <th data-field="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @rides_today_or_earlier.each do |ride| %>
        <tr>
          <td>
            <% if Date.parse(ride.pickup_date.to_s) == Date.today %>
            Today
            <% else %>
            <a href="/admin/rides/<%=ride.id%>"><%= Date.parse(ride.pickup_date).strftime('%a %b %d, %Y') %>
            <% end %>
          </td>
          <td>
            <a href="/admin/rides/<%=ride.id%>"><%= Time.parse(ride.pickup_time.to_s).strftime("%l:%M %p") %></a>

          </td>
          <td>
            <%= link_to ride.member.full_name, member_path(ride.member) %>
          </td>
          <td>
            <%= link_to ride.driver.full_name, driver_path(ride.driver) %>
          </td>
          <td>
            <%= ride.origin.address_line1 %><br>
            <%= ride.origin.city %>,
            <%= ride.origin.state %>,
            <%= ride.origin.zip %>
          </td>
          <td>
            <%= ride.destination.name %>
            <br>
            <%= ride.destination.address_line1 %><br>
            <%= ride.destination.city %>,
            <%= ride.destination.state %>,
            <%= ride.destination.zip %>
          </td>
          <td>
            <%= ride.member.primaryEC_fname + " " + ride.member.primaryEC_lname %>
            <br>
            <%= ride.member.primaryEC_phone %>
          </td>
          <td>
            <%= link_to "Completed?", "#modal-ride-complete#{ride.id}", class: "btn modal-trigger" %>
            <!-- Modal Structure -->
            <div class="modal" id="modal-ride-complete<%=ride.id%>">
              <%= form_tag admin_rides_complete_path, method: :post do %>
              <div class="modal-content">
                <%= text_area_tag :completion_notes, nil, placeholder: "Add a note here or simply click submit to mark the ride as complete...", class: "browser-default", style: "height: 100px" %>
                <%= hidden_field_tag :ride_id, value="#{ride.id}" %>
              </div>
              <div class="modal-footer">
                <%= submit_tag "Mark as complete", class: "modal-action modal-close btn-flat" %>
              </div>
              <% end %>
            </div>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4>Upcoming Rides (<%=@upcoming_rides.length%>)</h2>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="date">Date</th>
          <th data-field="time">Time</th>
          <th data-field="member">Member</th>
          <th data-field="driver">Driver</th>
          <th data-field="location">Pickup Location
          </th>
          <th data-field="destination">Destination
          </th>
          <th data-field="emergency-contact">
            Emergency Contact
          </th>
        </tr>
      </thead>
      <tbody>
        <% @upcoming_rides.each do |ride| %>
        <tr>
          <td>

            <a href="/admin/rides/<%=ride.id%>"><%= Date.parse(ride.pickup_date).strftime('%a %b %d, %Y') %></a>

          </td>

          <td>
            <%= Time.parse(ride.pickup_time.to_s).strftime("%l:%M %p") %>

          </td>
          <td>
            <%= link_to ride.member.full_name, member_path(ride.member) %>
          </td>
          <td>
            <%= link_to ride.driver.full_name, driver_path(ride.driver) %>
          </td>
          <td>
            <%= ride.origin.address_line1 %><br>
            <%= ride.origin.city %>,
            <%= ride.origin.state %>,
            <%= ride.origin.zip %>
          </td>
          <td>
            <%= ride.destination.name %>
            <br>
            <%= ride.destination.address_line1 %><br>
            <%= ride.destination.city %>,
            <%= ride.destination.state %>,
            <%= ride.destination.zip %>
          </td>
          <td>
            <%= ride.member.primaryEC_fname + " " + ride.member.primaryEC_lname %>
            <br>
            <%= ride.member.primaryEC_phone %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>

  </div>
</div>
