<div class="row">
  <div class="col s12">
    <h3>Rides</h3>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4>Open Rides (<%= @open_rides.length %>)</h2>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="date">Date</th>
          <th data-field="time">Time</th>
          <th data-field="member">Member</th>
          <th data-field="location">Pickup Location </th>
          <th data-field="destination">Destination </th>
          <th data-field="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @sorted_open_rides.each do |ride| %>
        <tr>
          <td>
            <a href="/admin/rides/<%=ride.id%>"><%= Date.parse(ride.pickup_date).strftime('%a %b %d, %Y') %></a>
          </td>
          <td>
            <%= Time.parse(ride.pickup_time.to_s).strftime("%l:%M %p") %>
          </td>
          <td>
            <%= link_to ride.member.full_name, member_path(ride.member) %>
          </td>
          <td>
            <%= ride.origin.address_line1 %><br>
            <%= ride.origin.city %>,
            <%= ride.origin.state %>,
            <%= ride.origin.zip %>
          </td>
          <td>
            <%= ride.destination.name %> <br>
            <%= ride.destination.address_line1 %><br>
            <%= ride.destination.city %>,
            <%= ride.destination.state %>,
            <%= ride.destination.zip %>
          </td>
          <td>
            <a href=  <%= "rides/#{ride.id}" %> class="btn"> Assign </a>
            <!-- <a href="#" class="btn"> Cancel</a> -->
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4>Today's Rides (<%=@rides_today.length%>)</h2>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="time">Time</th>
          <th data-field="member">Member</th>
          <th data-field="driver">Driver</th>
          <th data-field="location">Pickup Location </th>
          <th data-field="destination">Destination </th>
          <th data-field="emergency-contact"> Emergency Contact
          </th>
          <th data-field="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @rides_today.each do |ride| %>
        <tr>
          <td>
            <a href="/admin/rides/<%=ride.id%>"><%= Time.parse(ride.pickup_time.to_s).strftime("%l:%M %p") %></a>

          </td>
          <td>
            <%= link_to ride.member.full_name, member_path(ride.member) %>
          </td>
          <td>
            <%= link_to ride.driver.full_name, driver_path(ride.driver) %>
          </td>
          <td>
            <%= ride.origin.address_line1 %><br>
            <%= ride.origin.city %>,
            <%= ride.origin.state %>,
            <%= ride.origin.zip %>
          </td>
          <td>
            <%= ride.destination.name %> <br>
            <%= ride.destination.address_line1 %><br>
            <%= ride.destination.city %>,
            <%= ride.destination.state %>,
            <%= ride.destination.zip %>
          </td>
          <td>
            <%= ride.member.primaryEC_fname + " " + ride.member.primaryEC_lname %> <br>
            <%= ride.member.primaryEC_phone %>
          </td>
          <td>
            <a class="btn" style="overflow: auto"> Completed?</a>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4>Upcoming Rides (<%=@scheduled_rides.length%>)</h2>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="date">Date</th>
          <th data-field="time">Time</th>
          <th data-field="member">Member</th>
          <th data-field="driver">Driver</th>
          <th data-field="location">Pickup Location </th>
          <th data-field="destination">Destination </th>
          <th data-field="emergency-contact"> Emergency Contact
          </th>
        </tr>
      </thead>
      <tbody>
        <% @scheduled_rides.each do |ride| %>
        <tr>
          <td>

              <a href="/admin/rides/<%=ride.id%>"><%= Date.parse(ride.pickup_date).strftime('%a %b %d, %Y') %></a>

          </td>

          <td>
            <%= Time.parse(ride.pickup_time.to_s).strftime("%l:%M %p") %>

          </td>
          <td>
            <%= link_to ride.member.full_name, member_path(ride.member) %>
          </td>
          <td>
            <%= link_to ride.driver.full_name, driver_path(ride.driver) %>
          </td>
          <td>
            <%= ride.origin.address_line1 %><br>
            <%= ride.origin.city %>,
            <%= ride.origin.state %>,
            <%= ride.origin.zip %>
          </td>
          <td>
            <%= ride.destination.name %> <br>
            <%= ride.destination.address_line1 %><br>
            <%= ride.destination.city %>,
            <%= ride.destination.state %>,
            <%= ride.destination.zip %>
          </td>
          <td>
            <%= ride.member.primaryEC_fname + " " + ride.member.primaryEC_lname %> <br>
            <%= ride.member.primaryEC_phone %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>

  </div>
</div>
