<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @origin.client %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @origin.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @origin.address_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @origin.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @origin.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @origin.zip %>
</p>

<p>
  <strong>Primary:</strong>
  <%= @origin.primary %>
</p>

<%= link_to 'Edit', edit_origin_path(@origin) %> |
<%= link_to 'Back', origins_path %>
