<div class="row">
  <%= form_for @setting, :html => {:class => "form col s10 offset-s1"} do |f| %>
  <div class="row">

    <h3>Your information</h3>

    <div class="input-field col s12">
      <%= f.text_field :title, class: "validate" %>
      <%= f.label :title, "Title" %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :message, class: "validate" %>
      <%= f.label :message, "Message" %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :background, class: "validate background" %>
      <%= f.label :background, "Background color" %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :container, class: "validate" %>
      <%= f.label :container, "Container color" %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :nav, class: "validate" %>
      <%= f.label :nav, "Nav color" %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :cardt, class: "validate" %>
      <%= f.label :cardt, "Card text color" %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :cardbuttontext, class: "validate" %>
      <%= f.label :cardbuttontext, "Card button text color" %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :cardpanel, class: "validate" %>
      <%= f.label :cardpanel, "Card panel color" %>
    </div>
    <%= f.submit class: "btn" %> <button type="button" name="button" class="btn button">Test</button>
  </div>

  <% end %>
<script>
$(document).ready(function() {

$('.button').click(function(event) {
  console.log('test');
  var background = $('.background').val();
  $('body').addClass(background);
  console.log(background);
});

});
</script>
