<div class="row">
  <div class="col s12">
    <h1>Admin list</h1>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="name">Name</th>
          <th data-field="email">Email</th>
          <th data-field="super_admin">Super admin</th>
          <th data-field="edit">Edit</th>
          <th data-field="history">History</th>

        </tr>
      </thead>
      <tbody>
        <% @admins.each do |admin| %>
        <tr>
          <td>
            <%= admin.fname %>
            <%= admin.lname %></td>
          <td>
            <%= admin.email %>
          <td>
            <% if admin.super_admin %>
            Yes
            <% else %>
            No
            <% end %>
          </td>
          <td>
            <%= link_to "Edit", edit_admin_admin_path(admin.id), class: "btn" %>
          </td>
          <td>
            <%= link_to "View", admin_admin_path(admin.id), class: "btn" %>
          </td>
        </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
