<div class="row">
  <div class="col s12 center">
    <h3>Admin volunteer:
      <%= @admin.full_name %> <% if !@admin.active %> <em>(inactive)</em>  <% end %>
    </h3>
  </div>
</div>
<% if @admin.active %>
<div class="row">

  <div class="col s6 center">
    <%= link_to "Edit", edit_admin_admin_path(@admin), class: "btn" %>
  </div>
  <div class="col s6 center">

    <%= form_tag admin_admins_inactive_path, method: :post do %>
      <%= hidden_field_tag :admin_id, value=@admin.id %>


      <a class="btn modal-trigger" href="#modal1">Make Inactive</a>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <p class="center">
            Are you sure you want to deactivate <%= @admin.full_name %>?
          </p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close btn-flat blue-grey lighten-4 ">No</a>
          <%= submit_tag "Confirm", class: 'btn modal-action' %>
        </div>
      </div>


    <% end %>

  </div>
</div>
<% end %>
<div class="row">
  <div class="col s12">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          Contact history
          <i class="fa fa-chevron-circle-down right"></i>
        </div>
        <div class="collapsible-body">
          <table class="striped">
            <thead>
              <tr>
                <th data-field="date">Date</th>
                <th data-field="id">Driver</th>
                <th data-field="ride">Ride for</th>
                <th data-field="contact">Contact Method</th>
                <th data-field="result">Result</th>
              </tr>
            </thead>

            <tbody>
              <% @admin.outreaches.each do |outreach| %>
              <tr>
                <td>
                  <%= DateTime.parse(outreach.created_at.to_s).strftime("%a %b %d %l:%M %p")  %>
                </td>
                <td><%= Driver.find(outreach.driver_id).fname %>
                  <%= Driver.find(outreach.driver_id).lname %></td>
                <td>
                  <%= Member.find(outreach.ride.member_id).fname %>
                  <%= Member.find(outreach.ride.member_id).lname %></td>
                <td>
                  <%= outreach.contact_method %></td>
                <td>
                  <%= outreach.result %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </li>
    </ul>

  </div>
</div>
