<div class="row">
  <%= form_for [:admin, @driver], :html => {:class => "col s10 offset-s1"} do |f| %>
  <div class="row">
    <div class="col s12">
      <h3>Create driver</h3>
    </div>
    <div class="input-field col s12 m6">
      <%= f.text_field :fname, class: "validate" %>
      <%= f.label :fname, "First name" %>
    </div>
    <div class="input-field col s12 m6">
      <%= f.text_field :lname, class: "validate" %>
      <%= f.label :lname, "Last name" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <%= f.text_field :email, class: "validate" %>
      <%= f.label :email, "Email address" %>
    </div>
    <div class="input-field col s12 m3">
      <%= f.text_field :phone, class: "validate phone" %>
      <%= f.label :phone, "Home phone number" %>
    </div>
    <div class="input-field col s12 m3">
      <%= f.text_field :cell, class: "validate phone" %>
      <%= f.label :cell, "Cell phone number" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <%= f.text_field :password, class: "validate active" %>
      <%= f.label :password, "Password" %>
    </div>
    <div class="input-field col s12 m6">
      <%= f.text_field :password_confirmation, class: "validate active" %>
      <%= f.label :password_confirmation, "Password confirmation" %>
    </div>
  </div>
  <%= f.submit "Submit", class:"btn" %>
</div>
<% end %>
</div>
