<%= form_for(@driver) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :area_code %><br>
    <%= f.text_field :area_code %>
  </div>
  <div class="field">
    <%= f.label :local_exchange %><br>
    <%= f.text_field :local_exchange %>
  </div>
  <div class="field">
    <%= f.label :phone_ending %><br>
    <%= f.text_field :phone_ending %>
  </div>
  <div class="field">
    <%= f.label :address_line1 %><br>
    <%= f.text_field :address_line1 %>
  </div>
  <div class="field">
    <%= f.label :address_line2 %><br>
    <%= f.text_field :address_line2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :car_type %><br>
    <%= f.text_field :car_type %>
  </div>
  <div class="field">
    <%= f.label :monday %><br>
    <%= f.check_box :monday %>
  </div>
  <div class="field">
    <%= f.label :monday_min %><br>
    <%= f.number_field :monday_min %>
  </div>
  <div class="field">
    <%= f.label :monday_max %><br>
    <%= f.number_field :monday_max %>
  </div>
  <div class="field">
    <%= f.label :tuesday %><br>
    <%= f.check_box :tuesday %>
  </div>
  <div class="field">
    <%= f.label :tuesday_min %><br>
    <%= f.number_field :tuesday_min %>
  </div>
  <div class="field">
    <%= f.label :tuesday_max %><br>
    <%= f.number_field :tuesday_max %>
  </div>
  <div class="field">
    <%= f.label :wednesday %><br>
    <%= f.check_box :wednesday %>
  </div>
  <div class="field">
    <%= f.label :wednesday_min %><br>
    <%= f.number_field :wednesday_min %>
  </div>
  <div class="field">
    <%= f.label :wednesday_max %><br>
    <%= f.number_field :wednesday_max %>
  </div>
  <div class="field">
    <%= f.label :thursday %><br>
    <%= f.check_box :thursday %>
  </div>
  <div class="field">
    <%= f.label :thursday_min %><br>
    <%= f.number_field :thursday_min %>
  </div>
  <div class="field">
    <%= f.label :thursday_max %><br>
    <%= f.number_field :thursday_max %>
  </div>
  <div class="field">
    <%= f.label :friday %><br>
    <%= f.check_box :friday %>
  </div>
  <div class="field">
    <%= f.label :friday_min %><br>
    <%= f.number_field :friday_min %>
  </div>
  <div class="field">
    <%= f.label :friday_max %><br>
    <%= f.number_field :friday_max %>
  </div>
  <div class="field">
    <%= f.label :unavailable %><br>
    <%= f.check_box :unavailable %>
  </div>
  <div class="field">
    <%= f.label :accommodate_wheelchair %><br>
    <%= f.check_box :accommodate_wheelchair %>
  </div>
  <div class="field">
    <%= f.label :accommodate_aide %><br>
    <%= f.check_box :accommodate_aide %>
  </div>
  <div class="field">
    <%= f.label :preferred_contact %><br>
    <%= f.text_field :preferred_contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
