<div class="errors"></div>
<div class="row">
  <%= form_for @driver, :html => {:class => "form col s10 offset-s1"} do |f| %>
  <div class="row">
    <div class="col s12">
      <h3 class="center">Driver Sign-up</h3><br>
      <div class="row">
  <div class="col s6 offset-s3">
    <div class="card-panel teal">
      <h4 class="white-text center">Instructions</h4>
      <span class="white-text">Please fill out each field on the form below. You can not change your name or email address. If this is necesssary pleace contact surrey services.
      </span>
    </div>
  </div>
</div>
    </div>
    <div class="input-field col s12 m6">
      <%= f.text_field :fname, class: "validate", disabled: "true" %>
      <%= f.label :fname, "First name" %>
    </div>
    <div class="input-field col s12 m6">
      <%= f.text_field :lname, class: "validate", disabled: "true" %>
      <%= f.label :lname, "Last name" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <%= f.text_field :email, class: "validate", disabled: "true" %>
      <%= f.label :email, "Email address" %>
    </div>
    <div class="input-field col s12 m3">
      <%= f.text_field :phone, class: "validate phone" %>
      <%= f.label :phone, "Home phone number" %>
    </div>
    <div class="input-field col s12 m3">
      <%= f.text_field :cell, class: "validate phone" %>
      <%= f.label :cell, "Cell phone number" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <%= f.text_field :password, class: "validate active" %>
      <%= f.label :password, "Password" %>
    </div>
    <div class="input-field col s12 m6">
      <%= f.text_field :password_confirmation, class: "validate active" %>
      <%= f.label :password_confirmation, "Password confirmation" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :address_line1, class: "validate" %>
      <%= f.label :address_line1, "Address line 1" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :address_line2, class: "validate" %>
      <%= f.label :address_line2, "Address line 2" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :city, class: "validate" %>
      <%= f.label :city, "City" %>
    </div>
    <div class="input-field col s2">
      <input class="validate" disabled id="state" type="text" value="PA">
      <%= f.hidden_field :state, :value => "PA"%>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :zip, class: "validate" %>
      <%= f.label :zip, "Zip code" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col m6 s12">
      Car type:
      <br>
      <%= f.radio_button :car_type, "Two door"%>
      <%= f.label(:car_type_two_door, "Two door") %>
      <br>
      <%= f.radio_button :car_type, "Four door"%>
      <%= f.label(:car_type_four_door, "Four door") %>
      <br>
      <%= f.radio_button :car_type, "SUV"%>
      <%= f.label(:car_type_suv, "SUV") %>
      <br>
      <%= f.radio_button :car_type, "Pickup"%>
      <%= f.label(:car_type_pickup, "Pickup") %>
      <br>
    </div>
      <div class="row center">
        <div class="col s12">
        <strong>Schedule</strong>
        </div>
      </div>
      <div class="input-field col s2 offset-s1">
        <strong>Monday</strong> <br><br>
        <%= f.check_box :monday, class: "check1 validate" %>
        <%= f.label :monday, "Available"%>
      </div>
      <div class="input-field col s2">
        <strong>Tuesday</strong> <br><br>
        <%= f.check_box :tuesday, class: "check2 validate"  %>
        <%= f.label :tuesday, "Available"%>
      </div>
      <div class="input-field col s2">
        <strong>Wednesday</strong> <br><br>
        <%= f.check_box :wednesday, class: "check3 validate"  %>
        <%= f.label :wednesday, "Available"%>
      </div>
      <div class="input-field col s2">
        <strong>Thursday</strong> <br><br>
        <%= f.check_box :thursday, class: "check4 validate"  %>
        <%= f.label :thursday, "Available"%>
      </div>
      <div class="input-field col s1">
        <strong>Friday</strong> <br><br>
        <%= f.check_box :friday, class: "check5 validate"  %>
        <%= f.label :friday, "Available"%>
      </div>
    </div>
    <div class="row center">
      <div class="input-field col s2 offset-s1"><strong>From</strong><br>
        <%= f.text_field :monday_min, class: "timepicker2 disable1", placeholder: "" %>
      </div>
      <div class="input-field col s2"><strong>From</strong><br>
        <%= f.text_field :tuesday_min, class: "timepicker2 disable2", placeholder: ""%>
      </div>
      <div class="input-field col s2"><strong>From</strong><br>
        <%= f.text_field :wednesday_min, class: "timepicker2 disable3", placeholder: ""%>
      </div>
      <div class="input-field col s2"><strong>From</strong><br>
        <%= f.text_field :thursday_min, class: "timepicker2 disable4", placeholder: ""%>
      </div>
      <div class="input-field col s2"><strong>From</strong><br>
        <%= f.text_field :friday_min, class: "timepicker2 disable5", placeholder: ""%>
      </div>
    </div>
    <div class="row center">

      <div class="input-field col s2 offset-s1"><strong>Until</strong><br>
        <%= f.text_field :monday_max, class: "timepicker2 disable1", placeholder: ""%>
      </div>
      <div class="input-field col s2"><strong>Until</strong><br>
        <%= f.text_field :tuesday_max, class: "timepicker2 disable2", placeholder: ""%>
      </div>
      <div class="input-field col s2"><strong>Until</strong><br>
        <%= f.text_field :wednesday_max, class: "timepicker2 disable3", placeholder: ""%>
      </div>
      <div class="input-field col s2"><strong>Until</strong><br>
        <%= f.text_field :thursday_max, class: "timepicker2 disable4", placeholder: ""%>
      </div>
      <div class="input-field col s2"><strong>Until</strong><br>
        <%= f.text_field :friday_max, class: "timepicker2 disable5", placeholder: ""%>
      </div>
    </div>
    <div class="row">

      <div class="input-field col s12 m4">
        <p>
          Please check all that apply:
        </p>
        <%= f.check_box :accommodate_wheelchair %>
        <%= f.label :accommodate_wheelchair, "I can accomodate a wheelchair"  %>
        <br>
        <%= f.check_box :accommodate_aide %>
        <%= f.label :accommodate_aide, "I can accomodate an aide or additional escort" %>
        <br>
        <%= f.check_box :accommodate_pet %>
        <%= f.label :accommodate_pet, "I can accomodate a service animal" %>

      </div>
      <div class="input-field col s12 m4">
        <p>
          Please check all that apply:
        </p>
        <% if @driver.county_preference.include? "Chester County" %>
        <input id="chesco" name="driver[county_preference][]" type="checkbox" value="Chester County" checked = "true"/>
        <label for="chesco">Chester County</label>
        <% else %>
        <input id="chesco" name="driver[county_preference][]" type="checkbox" value="Chester County" />
        <label for="chesco">Chester County</label>
        <% end %>
        <br>
        <% if @driver.county_preference.include? "Delaware County" %>
        <input id="delco" name="driver[county_preference][]" type="checkbox" value="Delaware County" checked="true"/>
        <label for="delco">Delaware County</label>
        <% else %>
        <input id="delco" name="driver[county_preference][]" type="checkbox" value="Delaware County"/>
        <label for="delco">Delaware County</label>
        <% end %>
        <br>
        <% if @driver.county_preference.include? "Montgomery County" %>
        <input id="montco" name="driver[county_preference][]" type="checkbox" value="Montgomery County" checked="true"/>
        <label for="montco">Montgomery County</label>
        <% else %>
        <input id="montco" name="driver[county_preference][]" type="checkbox" value="Montgomery County"/>
        <label for="montco">Montgomery County</label>
        <% end %>
        <br>
        <% if @driver.county_preference.include? "Philadelphia County" %>
        <input id="philco" name="driver[county_preference][]" type="checkbox" value="Philadelphia County" checked="true"/>
        <label for="philco">Philadelphia County</label>
        <% else %>
        <input id="philco" name="driver[county_preference][]" type="checkbox" value="Philadelphia County"/>
        <label for="philco">Philadelphia County</label>
        <% end %>
        <input name="driver[county_preference][]" type="hidden" value="All">
        <br>

      </div>
      <div class="input-field col s12 m4">
        <p>
          Please check if you are a private driver:
        </p>
        <%= f.check_box :private %>
        <%= f.label :private, "Private" %>
        <p>
          Please indicate your prefered contact method:
          </p>
          <%= f.radio_button :prefered_contact, "Cell Phone"%>
          <%= f.label(:prefered_contact_cell_phone, "Cell Phone") %>

          <%= f.radio_button :prefered_contact, "Home Phone"%>
          <%= f.label(:prefered_contact_home_phone, "Home Phone") %>


          <%= f.radio_button :prefered_contact, "Email"%>
          <%= f.label(:prefered_contact_email, "Email") %>
      </div>
    </div>
    <%= f.submit "Submit", class:"btn" %>
    <% end %>
  </div>
<input type="hidden" name="name" class="workaround" value="<%= @driver.confirmed %>">
  <script>
    // timepicker for driver form
    $('.timepicker2').pickatime({
      interval: 15,
      min: [
        8, 30
      ],
      max: [16, 30]
    });
  </script>

  <script>
  $(document).ready(function() {

    $.validator.setDefaults({
     errorClass: 'invalid',
     validClass: "valid",
     errorPlacement: function (error, element) {
         $(element)
             .closest("form")
             .find("label[for='" + element.attr("id") + "']")
             .attr('data-error', error.text());
     }
 });

       $(".form").validate({

         rules: {
           "driver[password]": {
             required: function() {
               if ($('.workaround').val() == "true"){
                 return false;
               }
               else{
                 return true;
               }
               }
           },
           "driver[password_confirmation]": {
             required: function() {
               if ($('.workaround').val() == "true"){
                 return false;
               }
               else{
                 return true;
               }
               }
           },
           "driver[address_line1]": {
             required: true
           },
           "driver[city]": {
             required: true
           },
           "driver[zip]": {
             required: true
           }
         },
         messages: {
             "driver[password]": "Please enter a password",
             "driver[password_confirmation]": "Please enter a password confirmation",
             "driver[address_line1]": "Please enter a valid email address",
             "driver[city]": "Please enter the name of the city you live in",
             "driver[zip]": "Please enter a valid zip code",
          }

        });

  });
    // timepicker for driver form
    $('.timepicker2').pickatime({
      interval: 15,
      min: [
        8, 30
      ],
      max: [16, 30]
    });
  </script>
  <style media="screen">
  label {
   width: 100%;
  }
  .input-field label {
      /*display: block;*/
      /*font-size: 0.8rem;*/
      margin: 1rem;
      -webkit-transform: translateY(-140%);
      -moz-transform: translateY(-140%);
      -ms-transform: translateY(-140%);
      -o-transform: translateY(-140%);
      transform: translateY(-140%);
  }
  </style>
