<p id="notice"><%= notice %></p>

<h1>Listing Drivers</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Email</th>
      <th>Password</th>
      <th>Area code</th>
      <th>Local exchange</th>
      <th>Phone ending</th>
      <th>Address line1</th>
      <th>Address line2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Car type</th>
      <th>Monday</th>
      <th>Monday min</th>
      <th>Monday max</th>
      <th>Tuesday</th>
      <th>Tuesday min</th>
      <th>Tuesday max</th>
      <th>Wednesday</th>
      <th>Wednesday min</th>
      <th>Wednesday max</th>
      <th>Thursday</th>
      <th>Thursday min</th>
      <th>Thursday max</th>
      <th>Friday</th>
      <th>Friday min</th>
      <th>Friday max</th>
      <th>Unavailable</th>
      <th>Accommodate wheelchair</th>
      <th>Accommodate aide</th>
      <th>Preferred contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.fname %></td>
        <td><%= driver.lname %></td>
        <td><%= driver.email %></td>
        <td><%= driver.password %></td>
        <td><%= driver.area_code %></td>
        <td><%= driver.local_exchange %></td>
        <td><%= driver.phone_ending %></td>
        <td><%= driver.address_line1 %></td>
        <td><%= driver.address_line2 %></td>
        <td><%= driver.city %></td>
        <td><%= driver.state %></td>
        <td><%= driver.zip %></td>
        <td><%= driver.car_type %></td>
        <td><%= driver.monday %></td>
        <td><%= driver.monday_min %></td>
        <td><%= driver.monday_max %></td>
        <td><%= driver.tuesday %></td>
        <td><%= driver.tuesday_min %></td>
        <td><%= driver.tuesday_max %></td>
        <td><%= driver.wednesday %></td>
        <td><%= driver.wednesday_min %></td>
        <td><%= driver.wednesday_max %></td>
        <td><%= driver.thursday %></td>
        <td><%= driver.thursday_min %></td>
        <td><%= driver.thursday_max %></td>
        <td><%= driver.friday %></td>
        <td><%= driver.friday_min %></td>
        <td><%= driver.friday_max %></td>
        <td><%= driver.unavailable %></td>
        <td><%= driver.accommodate_wheelchair %></td>
        <td><%= driver.accommodate_aide %></td>
        <td><%= driver.preferred_contact %></td>
        <td><%= link_to 'Show', driver %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driver', new_driver_path %>
