<h2 class="center"> <%= @driver.full_name %></h2>

<div class="row">
  <div class="col s12">
    <table class="striped">
      <thead>
        <tr>
          <th data-field="name">Name</th>
          <th data-field="address">Address</th>
          <th data-field="phone">Phone Numbers</th>
          <th data-field="email">Email</th>
          <th data-field="driver-type">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= @driver.full_name %>
          </td>
          <td>
            <%= @driver.address_line1 %><br>
            <%= @driver.city %>,
            <%= @driver.state %>,
            <%= @driver.zip %></td>
          <td>
            <strong> Home: </strong><%= @driver.phone %> <br>
            <strong> Cell: </strong> <%= @driver.cell %>
          </td>
          <td>
            <%= @driver.email %>
          </td>
          <td>
            <% if @driver.private %>
            Private
            <% else %>
            Volunteer
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <table class="striped">
      <thead>
        <tr>
          <th data-field="availability">Availability</th>
          <th data-field="car-type">Car Type</th>
          <th data-field="wheelchair">Wheelchair?</th>
          <th data-field="aide">Aide?</th>
          <th data-field="county-preference">Counties</th>
          <th data-field="action">Action</th>

        </tr>

      </thead>
      <tbody>
        <tr>
          <td>
            <% if @driver.monday %>
            Monday: <%= @monday_min %> - <%= @monday_max %> <br>
            <% end %>
            <% if @driver.tuesday %>
            Tuesday: <%= @tuesday_min %> - <%= @tuesday_max %> <br>
            <% end %>
            <% if @driver.wednesday %>
            Wednesday: <%= @wednesday_min %> - <%= @wednesday_max %> <br>
            <% end %>
            <% if @driver.thursday %>
            Thursday: <%= @thursday_min %> - <%= @thursday_max %> <br>
            <% end %>
            <% if @driver.friday %>
            Friday: <%= @friday_min %> - <%= @friday_max %> <br>
            <% end %>
          </td>
          <td>
            <%= @driver.car_type %>
          </td>
          <td>
            <% if @driver.accommodate_wheelchair %>
              Yes
            <% else %>
              No
            <% end %>
          </td>
          <td>
            <% if @driver.accommodate_aide %>
              Yes
            <% else %>
              No
            <% end %>
          </td>
          <td>
            <% for i in 0...@upper  %>
            <%= @counties[i] %> <br>
            <% end %>
          </td>
          <td>
            <%= link_to "Update", edit_driver_path(@driver.id), class: "btn" %></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<h4>Notes</h4>

<div class="row">
  <div class="col s12">
    <table class="striped">
      <thead>
        <tr>
          <th data-field="note">Note</th>
          <th data-field="created">Date Created</th>
          <th data-field="created-by">Created By</th>
          <th data-field="delete">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @notes.each do |note| %>
        <tr>
          <td>
            <%= note.body %>
          </td>
          <td>
            <%= note.created_at %>
          </td>
          <td>
            <%= note.admin.full_name %>
          </td>
          <td>
            <%= link_to "<i class='material-icons'>delete</i>".html_safe, note_path(note), method: :delete %>
            <a href=></a>
          </td>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="add-driver-note-section">
  <%= form_tag notes_path, method: :post  do %>
  <div class="row">
    <div class="col s12 m6 offset-m3" style="height: 100px">
      <%= text_area_tag 'body', nil, style: "height: 100px;", placeholder: "Add note here..." %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <%= hidden_field_tag :driver_id, @driver.id %>
      <%= submit_tag "Add Note", class: "btn" %>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col s12">
    <h4>Scheduled Rides(<%= @assigned_rides.length %>)</h2>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="date">Date</th>
          <th data-field="time">Time</th>
          <th data-field="member">Member</th>
          <th data-field="location">Pickup Location </th>
          <th data-field="destination">Destination </th>
          <th data-field="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @assigned_rides.each do |ride| %>
        <tr>
          <td>
            <a href="/admin/rides/<%=ride.id%>"><%= Date.parse(ride.pickup_date).strftime('%a %b %d, %Y') %></a>
          </td>
          <td>
            <%= Time.parse(ride.pickup_time.to_s).strftime("%l:%M %p") %>
          </td>
          <td>
            <%= ride.member.fname + " " + ride.member.lname %>
          </td>
          <td>
            <%= ride.origin.address_line1 %><br>
            <%= ride.origin.city %>,
            <%= ride.origin.state %>,
            <%= ride.origin.zip %>
          </td>
          <td>
            <%= ride.destination.name %> <br>
            <%= ride.destination.address_line1 %><br>
            <%= ride.destination.city %>,
            <%= ride.destination.state %>,
            <%= ride.destination.zip %>
          </td>
          <td>
            <%= form_tag admin_unassign_path, method: :post  do %>
              <%= hidden_field_tag :driver_id, @driver.id %>
              <%= hidden_field_tag :ride_id, ride.id %>
              <%= submit_tag "Unassign", class: "btn" %>
            <% end %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>

  </div>
</div>



<div class="row">
  <div class="col s12">
    <h4>Matched Rides(<%= @matched_rides.length %>)</h2>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="date">Date</th>
          <th data-field="time">Time</th>
          <th data-field="member">Member</th>
          <th data-field="location">Pickup Location </th>
          <th data-field="destination">Destination </th>
          <th data-field="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @matched_rides.each do |ride| %>
        <tr>
          <td>
            <a href="/admin/rides/<%=ride.id%>"><%= Date.parse(ride.pickup_date).strftime('%a %b %d, %Y') %></a>
          </td>
          <td>
            <%= Time.parse(ride.pickup_time.to_s).strftime("%l:%M %p") %>
          </td>
          <td>
            <%= ride.member.fname + " " + ride.member.lname %>
          </td>
          <td>
            <%= ride.origin.address_line1 %><br>
            <%= ride.origin.city %>,
            <%= ride.origin.state %>,
            <%= ride.origin.zip %>
          </td>
          <td>
            <%= ride.destination.name %> <br>
            <%= ride.destination.address_line1 %><br>
            <%= ride.destination.city %>,
            <%= ride.destination.state %>,
            <%= ride.destination.zip %>
          </td>
          <td>
          <%= form_tag admin_assign_path, method: :post  do %>
            <%= hidden_field_tag :driver_id, @driver.id %>
            <%= hidden_field_tag :ride_id, ride.id %>
            <%= submit_tag "Assign", class: "btn" %>
          <% end %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>

  </div>
</div>
