<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @driver.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @driver.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @driver.password %>
</p>

<p>
  <strong>Area code:</strong>
  <%= @driver.area_code %>
</p>

<p>
  <strong>Local exchange:</strong>
  <%= @driver.local_exchange %>
</p>

<p>
  <strong>Phone ending:</strong>
  <%= @driver.phone_ending %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @driver.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @driver.address_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @driver.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @driver.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @driver.zip %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @driver.car_type %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @driver.monday %>
</p>

<p>
  <strong>Monday min:</strong>
  <%= @driver.monday_min %>
</p>

<p>
  <strong>Monday max:</strong>
  <%= @driver.monday_max %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @driver.tuesday %>
</p>

<p>
  <strong>Tuesday min:</strong>
  <%= @driver.tuesday_min %>
</p>

<p>
  <strong>Tuesday max:</strong>
  <%= @driver.tuesday_max %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @driver.wednesday %>
</p>

<p>
  <strong>Wednesday min:</strong>
  <%= @driver.wednesday_min %>
</p>

<p>
  <strong>Wednesday max:</strong>
  <%= @driver.wednesday_max %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @driver.thursday %>
</p>

<p>
  <strong>Thursday min:</strong>
  <%= @driver.thursday_min %>
</p>

<p>
  <strong>Thursday max:</strong>
  <%= @driver.thursday_max %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @driver.friday %>
</p>

<p>
  <strong>Friday min:</strong>
  <%= @driver.friday_min %>
</p>

<p>
  <strong>Friday max:</strong>
  <%= @driver.friday_max %>
</p>

<p>
  <strong>Unavailable:</strong>
  <%= @driver.unavailable %>
</p>

<p>
  <strong>Accommodate wheelchair:</strong>
  <%= @driver.accommodate_wheelchair %>
</p>

<p>
  <strong>Accommodate aide:</strong>
  <%= @driver.accommodate_aide %>
</p>

<p>
  <strong>Preferred contact:</strong>
  <%= @driver.preferred_contact %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
