<p id="notice"><%= notice %></p>

<h1>Listing Rides</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Driver</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Wheelchair</th>
      <th>Aide</th>
      <th>Vision impaired</th>
      <th>Hearing impaired</th>
      <th>Recurring</th>
      <th>Status</th>
      <th>Completion notes</th>
      <th>Requested driver</th>
      <th>Request checked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
      <tr>
        <td><%= ride.client %></td>
        <td><%= ride.driver %></td>
        <td><%= ride.origin %></td>
        <td><%= ride.destination %></td>
        <td><%= ride.wheelchair %></td>
        <td><%= ride.aide %></td>
        <td><%= ride.vision_impaired %></td>
        <td><%= ride.hearing_impaired %></td>
        <td><%= ride.recurring %></td>
        <td><%= ride.status %></td>
        <td><%= ride.completion_notes %></td>
        <td><%= ride.requested_driver %></td>
        <td><%= ride.request_checked %></td>
        <td><%= link_to 'Show', ride %></td>
        <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
        <td><%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ride', new_ride_path %>
