<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link charset="utf-8" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css" media="screen" rel="stylesheet" title="no title">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="blue lighten-4">
    <%= render 'shared/nav' %>
    <div class="container indigo lighten-5 z-depth-3">
      <% if flash[:notice] %>
      <p>
        <%= flash[:notice] %>
      </p>
      <% end %>
      <% if flash[:alert] %>
      <p>
        <%= flash[:alert] %>
      </p>
      <% end %>
      <%= yield %>
    </div>
    <!--Import jQuery before materialize.js-->

    <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
    <script>

      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
      });
      $('.timepicker').pickatime()

    </script>
  </body>
</html>
