<div class="row">
  <div class="col s12">
    <h3>Member List</h3>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <table class="striped">
      <thead>
        <tr>
          <th data-field="id">Name</th>
          <th data-field="name">Address</th>
          <th data-field="price">Phone Numbers</th>
          <th data-field="rides">Rides
          </th>
          <th data-field="price">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @members.each do |member| %>
        <tr>
          <td> <%= link_to member.full_name, member_path(member) %> <% if !member.active %> <em>(inactive)<em> <% end %>  

          </td>
          <td>
            <%= member.address_line1 %><br>
            <%= member.city %>,
            <%= member.state %>,
            <%= member.zip %></td>
          <td>
            <strong> Home: </strong><%= member.phone %> <br>
            <strong> Cell: </strong> <%= member.cell %>
          </td>
          <td>
            <% member.rides.each do |ride| %>
            <% if ride.status == "open" || ride.status == 'scheduled' %>
            <%= link_to (ride.destination.name + ": " + Date.parse(ride.pickup_date.to_s).strftime("%b %d, %Y")), "#" %>
            <br>
            <% end %>

            <% end %>
          </td>
          <td>
            <%= link_to "Update", edit_admin_member_path(member.id), class: "btn" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
