<div class="row">
  <%= form_for @member, :html => {:class => "col s10 offset-s1"} do |f| %>
  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :fname, class: "validate" %>
      <%= f.label :fname, "First name" %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :lname, class: "validate" %>
      <%= f.label :lname, "Last name" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :email, class: "validate" %>
      <%= f.label :email, "Email address" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :password, class: "validate" %>
      <%= f.label :password, "Password" %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :password_confirmation, class: "validate" %>
      <%= f.label :password_confirmation, "Password confirmation" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <%= f.text_field :area_code, class: "validate" %>
      <%= f.label :area_code, "Area code" %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :area_code, class: "validate" %>
      <%= f.label :local_exchange, "Phone" %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :area_code, class: "validate" %>
      <%= f.label :phone_ending, "Number" %>
    </div>
  </div>
  <% end %>
</div>
