<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @member.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @member.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @member.password %>
</p>

<p>
  <strong>Area code:</strong>
  <%= @member.area_code %>
</p>

<p>
  <strong>Local exchange:</strong>
  <%= @member.local_exchange %>
</p>

<p>
  <strong>Phone ending:</strong>
  <%= @member.phone_ending %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @member.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @member.address_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @member.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @member.zip %>
</p>

<p>
  <strong>Primaryec fname:</strong>
  <%= @member.primaryEC_fname %>
</p>

<p>
  <strong>Primaryec lname:</strong>
  <%= @member.primaryEC_lname %>
</p>

<p>
  <strong>Primaryec area code:</strong>
  <%= @member.primaryEC_area_code %>
</p>

<p>
  <strong>Primaryec local exchange:</strong>
  <%= @member.primaryEC_local_exchange %>
</p>

<p>
  <strong>Primaryec phone ending:</strong>
  <%= @member.primaryEC_phone_ending %>
</p>

<p>
  <strong>Primaryec relationship:</strong>
  <%= @member.primaryEC_relationship %>
</p>

<p>
  <strong>Secondaryec fname:</strong>
  <%= @member.secondaryEC_fname %>
</p>

<p>
  <strong>Secondaryec lname:</strong>
  <%= @member.secondaryEC_lname %>
</p>

<p>
  <strong>Secondaryec area code:</strong>
  <%= @member.secondaryEC_area_code %>
</p>

<p>
  <strong>Secondaryec local exchange:</strong>
  <%= @member.secondaryEC_local_exchange %>
</p>

<p>
  <strong>Secondaryec phone ending:</strong>
  <%= @member.secondaryEC_phone_ending %>
</p>

<p>
  <strong>Secondaryec relationship:</strong>
  <%= @member.secondaryEC_relationship %>
</p>

<p>
  <strong>Tertiaryec fname:</strong>
  <%= @member.tertiaryEC_fname %>
</p>

<p>
  <strong>Tertiaryec lname:</strong>
  <%= @member.tertiaryEC_lname %>
</p>

<p>
  <strong>Tertiaryec area code:</strong>
  <%= @member.tertiaryEC_area_code %>
</p>

<p>
  <strong>Tertiaryec local exchange:</strong>
  <%= @member.tertiaryEC_local_exchange %>
</p>

<p>
  <strong>Tertiaryec phone ending:</strong>
  <%= @member.tertiaryEC_phone_ending %>
</p>

<p>
  <strong>Tertiaryec relationship:</strong>
  <%= @member.tertiaryEC_relationship %>
</p>

<p>
  <strong>Active:</strong>
  <%= @member.active %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
